body {
	background: Black;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4rem;
	overflow-x: hidden;
}

#channels {
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;

	justify-content: left;

	gap: 1rem;
}

.channel {
	position: relative;
	padding-bottom: 1rem;
}

.channel:hover {
	cursor: pointer;
	animation: flash 0.33s ease-out 1 forwards;
}

.channel span {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.75rem;
	padding: 0.3rem 0.5rem;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.3rem;
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	opacity: 0;
}

.channel:hover span {
	opacity: 1;
}

.image {
	width: 200px;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chanplaybtn {
	background-image: url("../img/icon-play.svg");
	background-size: 1.4rem;
	background-repeat: no-repeat;
	background-position: center center;
	width: 3rem;
	height: 2rem;
	filter: invert(1);
	position: absolute;
	bottom: 0.5rem;
	z-index: 1;
	opacity: 0.5;
}

.channel:hover .chanplaybtn {
	opacity: 1;
}

.pause {
	background-image: url("../img/icon-pause.svg");
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center center;
}

.chanplaybtn:hover {
	cursor: pointer;
	scale: 1.2;
}
@keyframes flash {
	0% {
		filter: brightness(2);
	}
	100% {
		filter: brightness(1);
	}
}

#header {
	top: 0;
	left: 0;
	height: 4rem;

	display: flex;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 30000;
	width: 100%;
	backdrop-filter: blur(3rem);
}

#header a {
	font-family: "Poppins", sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
	opacity: 0.5;
	padding: 1.4rem;
}

#header a:hover {
	opacity: 1;
}

#header input {
	font-family: "Archivo", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(150, 150, 150, 0.2);
	backdrop-filter: blur(2rem);
	border: none;
	padding: 0.9rem;
	width: 20rem;
	border-radius: 0.4rem;
	color: white;
}
#header input:-webkit-autofill {
	color: white;
}
.logo {
	margin-right: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.7rem;
	padding: 0;
	padding-top: 0.2rem;
	border-radius: 5rem;
	margin-left: 1rem;
	border: 5px solid rgba(255, 255, 255, 0.3);
}

.logo:hover {
	cursor: pointer;
	background: white;
	color: black !important;
	border: 5px solid white;
}

#player {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	padding: 0.2rem;
	z-index: 2000;
	filter: invert(1);
	border-top: 1px solid rgba(85, 85, 85, 0.2);
}

.playerthumb {
	width: 4rem;
	filter: invert(1);
}

.playerthumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Styling the default audio controls */

h1 {
	font-family: "Archivo", sans-serif;
	font-size: 3rem;
	display: block;
	width: 100%;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

#colorblur {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60vw;
	height: 60vw;
	background: gray;
	border-radius: 100%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	opacity: 0.33;
	filter: blur(10rem);
}

#colorblur:after {
	display: block;
	content: "";
	width: 60vw;
	height: 60vw;
	background: inherit;
	border-radius: 100%;
	position: fixed;
	top: -50%;
	left: -50%;
	z-index: 1;
	opacity: 1;
}

#colorblur:before {
	display: block;
	content: "";
	width: 30vw;
	height: 30vw;
	background: inherit;
	border-radius: 100%;
	position: fixed;
	top: 20%;
	left: 80%;
	z-index: 1;
	opacity: 1;
}

audio {
	width: 100%;
	background: white;
	background-color: white;
}
/* Styling the entire audio controls panel */
audio::-webkit-media-controls-panel {
	/* Example styles */
	background-color: white;
	color: #000;
	border-radius: 0px;
	width: 100%;
}

/* Styling specific elements within the audio controls */

/* Play/pause button */
audio::-webkit-media-controls-play-button {
	/* Example styles */
	background-color: transparent;
	color: #fff;
}

/* Mute/unmute button */
audio::-webkit-media-controls-mute-button {
	/* Example styles */
	background-color: transparent;
	color: #fff;
}

/* Volume slider */
audio::-webkit-media-controls-volume-slider {
	/* Example styles */
	background-color: transparent;
}

/* Current time and duration display */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
	/* Example styles */
	background-color: transparent;
	color: #000;
}

/* Seek bar */
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-time-remaining-display {
	/* Example styles */

	background-color: transparent;
	color: #fff;
}

/* Fullscreen button */
audio::-webkit-media-controls-fullscreen-button {
	/* Example styles */

	background-color: transparent;
	color: #fff;
}

#top {
	display: flex;
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#top h1 {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.channel-image {
	aspect-ratio: 1/1;
	min-width: 16rem;
	width: 16rem;
	margin-right: 2rem;
}

.channel-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.channel-info {
	position: relative;
}

.channel-info .buttons {
	display: flex;
}

.channel-info .chanplaybtn {
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	height: 3rem;
	border-radius: 0.3rem;

	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	position: relative;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
}

.channel-info .chanplaybtn:hover,
.channel-info .website:hover {
	scale: 1;
	cursor: pointer;
	opacity: 1;
}

.channel-info span,
.channel-info p {
	color: white;
	max-width: 40rem;
	max-height: 6.2rem;
	overflow: hidden;
}
.channel-info span {
	background: gray;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	font-size: 0.8rem;
	margin-top: 0.5rem;
}
.channel-info p {
	margin-top: 1rem;
}

.channel-info .website {
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
	height: 3rem;
	color: white;
	border-radius: 0.3rem;
	line-height: 3rem;
	padding: 0 1rem;
	margin-left: 0.5rem;
	height: 3rem;
	margin-top: 1rem;
	position: relative;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
}

#schedule {
	position: relative;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
	width: 100%;
	min-width: 100%;
	min-height: calc(100vh - 27rem);
	height: calc(100vh - 27rem);
	max-height: calc(100vh - 27rem);
	padding-bottom: 4rem;
}

.schedule-image {
	width: 10rem;
	min-width: 10rem;
}

.schedule-image img {
	width: 100%;
	aspect-ratio: 1/1;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
}

.schedule-item {
	display: flex;
	gap: 2rem;
	opacity: 0.4;
	filter: grayscale(1);
	transition: opacity 0.4s ease-in-out, grayscale 0.4s ease-in-out;
}

.schedule-item:hover {
	filter: grayscale(0);
	opacity: 1;
}

.schedule-item h2 {
	font-family: "Archivo", sans-serif;
	color: white;
	font-weight: 500;
	font-size: 1.2rem;
}

.schedule-item p {
	max-width: 50rem;
	color: white;
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

.schedule-item span {
	margin-top: 0.2rem;
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 0.7rem;
	background: rgb(66, 66, 66);
	border-radius: 0.3rem;
}
.schedule-item span:nth-child(1) {
	background: rgba(65, 105, 225, 0.5);
}

#scheduleloader {
	position: absolute;
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.4rem;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	padding: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #25b09b;
	--_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: l3 1s infinite linear;
}
@keyframes l3 {
	to {
		transform: rotate(1turn);
	}
}
