body {
	background: Black;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4rem;
	overflow-x: hidden;
}

#channels {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap: 1rem;
	max-height: 93vh;
	padding-bottom: 3rem;
	overflow-y: auto;
	min-height: 100px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.chancontainer {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
#schedule .chancontainer {
	padding: 0;
}

.btn-favchan,
.btn-favprog {
	position: absolute;
	top: 0.5rem;
	right: 0.3rem;
	width: 2rem;
	height: 2rem;
	background-image: url("../img/icon-fav.svg");
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: center center;
	filter: invert(1);
	opacity: 0.4;
	display: none;
	z-index: 10;
}

#proginfo .btn-favchan {
	margin-left: 0;
}

.channel:hover .btn-favchan,
.program-item:hover .btn-favprog {
	display: block;
	opacity: 0.4;
}

.btn-favchan:hover,
.btn-favprog:hover {
	cursor: pointer;
	opacity: 1 !important;
}

.btn-favchan.favorited {
	opacity: 1;
	display: block;
	background-color: white;
	filter: invert(0);
	border: none;
}

.favorited .btn-favchan,
.favorited .btn-favprog {
	opacity: 1;
	display: block;
}
.channel {
	position: relative;
	padding-bottom: 1rem;
}

.channel:hover {
	cursor: pointer;
	animation: flash 0.33s ease-out 1 forwards;
}

.channel span {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.75rem;
	padding: 0.3rem 0.5rem;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.3rem;
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	opacity: 0;
}

.channel:hover span {
	opacity: 1;
}

.image {
	aspect-ratio: 1/1;
	width: 200px;
	margin: 1rem;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chanplaybtn {
	background-image: url("../img/icon-play.svg");
	background-size: 1.4rem;
	background-repeat: no-repeat;
	background-position: center center;
	width: 3rem;
	height: 2rem;
	filter: invert(1);
	position: absolute;
	bottom: 0.5rem;
	z-index: 1;
	opacity: 0.5;
}

.channel:hover .chanplaybtn {
	opacity: 1;
}

.pause {
	background-image: url("../img/icon-pause.svg");
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center center;
}

.chanplaybtn:hover {
	cursor: pointer;
	scale: 1.2;
}
@keyframes flash {
	0% {
		filter: brightness(2);
	}
	100% {
		filter: brightness(1);
	}
}

#header {
	top: 0;
	left: 0;
	height: 4rem;
	display: flex;
	align-items: center;
	background: black;
	position: fixed;
	z-index: 30000;
	width: 100%;
	backdrop-filter: blur(3rem);
}

#header a {
	font-family: "Poppins", sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
	opacity: 0.5;
	padding: 1.4rem;
}

#header a:hover {
	opacity: 1;
}

#header input {
	font-family: "Archivo", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(150, 150, 150, 0.2);
	backdrop-filter: blur(2rem);
	border: none;
	padding: 0.9rem;
	width: 20rem;
	border-radius: 0.4rem;
	color: white;
}
#header input:-webkit-autofill {
	color: white;
}
.logo {
	margin-right: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.7rem;
	padding: 0;
	padding-top: 0.2rem;
	border-radius: 5rem;
	margin-left: 1rem;
	border: 5px solid rgba(255, 255, 255, 0.3);
}

.logo:hover {
	cursor: pointer;
	background: white;
	color: black !important;
	border: 5px solid white;
}

#player {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	padding: 0.2rem;
	z-index: 2000;
	filter: invert(1);
	border-top: 1px solid rgba(85, 85, 85, 0.2);
}

.playerthumb {
	width: 4rem;
	filter: invert(1);
}

.playerthumb:hover {
	cursor: pointer;
}

.playerthumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Styling the default audio controls */

h1,
h2 {
	font-family: "Archivo", sans-serif;
	font-size: 3rem;
	display: block;
	width: 100%;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	margin-top: 3rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 0;
	margin-top: 0;
	border-bottom: none;
}

h1 span {
	font-size: 1rem;
	font-weight: 400;
	opacity: 0.5;
}

h1:first-child {
	margin-top: 0;
}

#colorblur {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60vw;
	height: 60vw;
	background: gray;
	border-radius: 100%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	opacity: 0.33;
	filter: blur(10rem);
}

#colorblur:after {
	display: block;
	content: "";
	width: 60vw;
	height: 60vw;
	background: inherit;
	border-radius: 100%;
	position: fixed;
	top: -50%;
	left: -50%;
	z-index: 1;
	opacity: 1;
}

#colorblur:before {
	display: block;
	content: "";
	width: 30vw;
	height: 30vw;
	background: inherit;
	border-radius: 100%;
	position: fixed;
	top: 20%;
	left: 80%;
	z-index: 1;
	opacity: 1;
}

audio {
	width: 100%;
	background: white;
	background-color: white;
}
/* Styling the entire audio controls panel */
audio::-webkit-media-controls-panel {
	/* Example styles */
	background-color: white;
	color: #000;
	border-radius: 0px;
	width: 100%;
}

/* Styling specific elements within the audio controls */

/* Play/pause button */
audio::-webkit-media-controls-play-button {
	/* Example styles */
	background-color: transparent;
	color: #fff;
}

/* Mute/unmute button */
audio::-webkit-media-controls-mute-button {
	/* Example styles */
	background-color: transparent;
	color: #fff;
}

/* Volume slider */
audio::-webkit-media-controls-volume-slider {
	/* Example styles */
	background-color: transparent;
}

/* Current time and duration display */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
	/* Example styles */
	background-color: transparent;
	color: #000;
}

/* Seek bar */
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-time-remaining-display {
	/* Example styles */

	background-color: transparent;
	color: #fff;
}

/* Fullscreen button */
audio::-webkit-media-controls-fullscreen-button {
	/* Example styles */

	background-color: transparent;
	color: #fff;
}

#top {
	padding: 2rem;
	display: flex;
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	position: sticky;
	top: 0;
	backdrop-filter: blur(1rem);
	z-index: 10;
}

#top h1 {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.channel-image {
	aspect-ratio: 1/1;
	min-width: 16rem;
	width: 16rem;
	margin-right: 2rem;
	max-height: 16rem;
}

.channel-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.channel-info {
	position: relative;
}

.channel-info .buttons {
	display: flex;
}

.channel-info .btn-favchan {
	top: 0;
	left: 0;
	position: relative;
	display: block;
	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-radius: 0.3rem;
}

.channel-info .chanplaybtn {
	border: none !important;
	height: 3rem;
	border-radius: 0.3rem;
	filter: invert(0);
	background-color: white;
	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	position: relative;
	bottom: 0;
	z-index: 1;
	opacity: 1;
}

.channel-info .chanplaybtn:hover,
.channel-info .website:hover,
.channel-info .programs:hover {
	scale: 1;
	cursor: pointer;
	opacity: 1;
}

.channel-info span,
.channel-info p {
	color: white;
	max-width: 40rem;
	max-height: 6.2rem;
	overflow: hidden;
}
.channel-info span,
.channel-info .chanbutton {
	color: white;
	text-decoration: none;
	background: gray;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

.channel-info .buttons .icon-pod {
	position: relative;
	top: 0;
	left: 0;
	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	margin-left: 0.5rem;
}

.channel-info .chanbutton:hover {
	cursor: pointer;
	background: white;
	color: black;
}
.channel-info p {
	font-family: "Archivo", sans-serif;
	line-height: 1.6rem;
	margin-top: 1rem;
}

.channel-info .website,
.channel-info .programs {
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
	height: 3rem;
	color: white;
	border-radius: 0.3rem;
	line-height: 3rem;
	padding: 0 1rem;
	margin-left: 0.5rem;
	text-decoration: none;
	height: 3rem;
	margin-top: 1rem;
	position: relative;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
}

#schedule {
	position: relative;
	width: 100%;
	min-width: 100%;
	min-height: calc(100% - 18rem);
	padding: 1rem 2rem 2rem 2rem;
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	gap: 1rem;
}

.schedule-image {
	width: 11rem;
	min-width: 11rem;
	margin-right: 2rem;
}

.schedule-image img {
	height: 100%;
	object-fit: cover;
	width: 100%;
	aspect-ratio: 1;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
}

.schedule-item {
	display: flex;
	transition: opacity 0.4s ease-in-out, grayscale 0.4s ease-in-out;
	background: rgba(255, 255, 255, 0.1);
}

.schedule-item:hover {
	opacity: 1;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
}

.schedule-item:hover .schedule-image {
	animation: flash 0.4s ease-in-out 1 forwards;
}

.schedule-item h2 {
	padding-top: 1rem;
	font-family: "Archivo", sans-serif;
	color: white;
	font-weight: 500;
	font-size: 1.4rem;
}

.schedule-item p {
	max-width: 50rem;
	color: white;
	font-size: 0.9rem;
	margin-top: 0.5rem;
	color: rgba(255, 255, 255, 0.5);
	font-family: "Archivo", sans-serif;
	line-height: 1.2rem;
}

.schedule-item span {
	color: rgba(255, 255, 255, 1);
	margin-top: 0.2rem;
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 0.7rem;
	background: rgb(66, 66, 66);
	border-radius: 0.3rem;
	margin-right: 0.5rem;
}
.schedule-item span:nth-child(1) {
	background: rgba(65, 105, 225, 0.5);
}

#scheduleloader {
	position: absolute;
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.4rem;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	padding: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #25b09b;
	--_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: l3 1s infinite linear;
}
@keyframes l3 {
	to {
		transform: rotate(1turn);
	}
}

#tabla {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
	color: white;
	max-height: 80vh;
}

.tabla-item {
	display: flex;
	flex-direction: row;
}

.rowheader {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.3rem;
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 1rem;
	padding: 0.3rem 1rem;
	margin-right: 1rem;
	position: sticky;
	left: 0;
	backdrop-filter: blur(1rem);
	z-index: 10;
}

.tabla-program {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	background: rgba(255, 255, 255, 0.1);
}

.tabla-program:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.tabla-program:hover .image {
	animation: flash 0.4s ease-in-out 1 forwards;
}
.tabla-container {
	position: relative;
	width: 100%;
	min-height: 10rem;
}

.tabla-info {
	padding: 0 1rem 0.5rem 1rem;
}
.tabla-item {
	gap: 0.5rem;
}
.tabla-item .image {
	margin: 0;
	width: 15rem;
}

.tabla-item .description {
	font-size: 0.8rem;
	opacity: 0.5;
	max-width: 13rem;
	font-family: "Archivo", sans-serif;
	line-height: 1.2rem;
	margin-top: 0.3rem;
}

.tabla-item .title {
	font-weight: 600;
	max-width: 13rem;
}

.tabla-program:hover .title {
	text-decoration: underline;
}

.tabla-item span {
	background: rgba(65, 105, 225, 0.5);
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-block;
	opacity: 0.7;
}

@media screen and (max-width: 1200px) {
	#header input {
		right: 1rem;
		left: auto;
		transform: translateX(0);
		width: 20rem;
	}
}

@media screen and (max-width: 680px) {
	#header input {
		right: 1rem;
		left: auto;
		transform: translateX(0);
		width: 10rem;
	}
	#header a:not(.logo) {
		padding: 1.4rem 0.5rem;
	}

	#channels .channel .image {
		width: 100px;
	}
	h1 {
		font-size: 2rem;
	}
	.channel-image {
		min-width: 10rem;
		width: 10rem;
		max-height: 10rem;
	}

	.schedule-image {
		width: 5rem;
		min-width: 5rem;
	}

	.schedule-item {
		margin-bottom: 1rem;
	}
	.rowheader {
		font-size: 0.9rem;
	}
}

.channel .desc {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 2000;
	padding: 1rem;
	color: white;
	width: 100%;
	box-shadow: 0 7px 2px rgba(0, 0, 0, 0.5);
	font-size: 0.9rem;
	font-family: "Archivo", sans-serif;
	line-height: 1.2rem;
}

.channel:hover {
	z-index: 10000;
}
.channel:hover .desc {
	display: block;
	z-index: 2000;
}

.program-item {
	display: flex;
	width: 37rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(0.5rem);
	color: white;
}

.program-item:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.program-item:hover .title {
	text-decoration: underline;
}

.program-item:hover .image {
	animation: flash 0.33s ease-out 1 forwards;
}

.program-item .image {
	aspect-ratio: auto;
	padding: 0;
	margin: 0;
	width: 10rem;
	min-width: 10rem;
	margin-bottom: 0;
}

.program-item .proginfo {
	padding: 1rem;
	position: relative;
	width: 100%;
}

.program-item .proginfo .chan {
	background: rgba(255, 255, 255, 0.2);
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	font-size: 0.78rem;
	position: absolute;
	bottom: 0.7rem;
	right: 0.7rem;
}

.program-item .proginfo .title {
	font-weight: 600;
}

.program-item .proginfo .desc {
	opacity: 0.5;
	font-size: 0.9rem;
	font-family: "Archivo", sans-serif;
	line-height: 1.2rem;
	margin-top: 0.3rem;
}

.icon-pod {
	width: 2rem;
	height: 2rem;
	background-image: url("../img/icon-pod.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.6rem;
	filter: invert(1);
	opacity: 0.5;
	position: absolute;
	bottom: 0.5rem;
	left: 0.8rem;
	content: "";
}
